# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js
/RevealBase.js
/makeCarousel.js
/swipedetect.js
/hamburger.js
/responsive.js
/withReveal.js
/HamburgerIcon.js
/Animation.js
/Spin.js
/Bounce.js
/Fade.js
/Flash.js
/HeadShake.js
/Jello.js
/Jump.js
/Pulse.js
/Roll.js
/RubberBand.js
/Shake.js
/Slide.js
/Swing.js
/Tada.js
/Wobble.js
/Flip.js
/Reveal.js
/Rotate.js
/LightSpeed.js
/Stepper.js
/Step.js
/Zoom.js
/index.js
/globals.js
/debounce.js
/throttle.js
/wrap.js

# testing
/coverage

# production
/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*
